body {
    font-family: Arial, sans-serif;
    font: 1em sans-serif;
}
.scatter-plot {
    display: flex;
    justify-content: center;
    padding-left: 3%;
    width: 1600px;
    height: 1600px;
}
.info {
    display: flex;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
    margin: 0%;
}
.color-legend {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
