body {
    font-family: Arial, sans-serif;
    font: 1em sans-serif;
}
.stack-bar {
    display: flex;
    justify-content: center;
    padding-left: 3%;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0%;
}